*{box-sizing: border-box;}

body{
  background-color:#28152b;
  color:#d43e73;
  padding: 10px;
}

ul{
	padding: 0px;
}

.container{
	text-align: center;
}
.listItem{
  position: relative;
  left:0px;
  opacity:1;
  font-size: 1.5em;
  cursor: pointer;
  line-height: 2em;
  list-style: none;
  transition: opacity, left;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.close{
  height: 25px;
  width:25px;
  background-color:red;
  border-radius: 50%;
  line-height: 1em;
  margin-left: 25px;
  color: white;
  position:absolute;
  right:10%;

}

.move{
  color:red;
  text-decoration: line-through;
  opacity:0;
  left:-50px;
}
